<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>
<h1>Signup</h1>

<form method="post" action="/signup">

    <label for="username">Username</label>
    <input type="text" name="username" id="username" required> 

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" value="Submit">
</form>

