<div class="container">


  <div class="col-md-8 col-md-offset-2" style="text-align: center;">

    
    <h1>Welcome to Eplants</h1>
    
    <h2>A Sinatra based house plant care App!</h2>
    

  </div>
</div>
